.card-wrapper {
  position: relative;
  height: 250px;
  background-color: #282c34;
  border-radius: 25%;
  width: 300px;
  text-align: center;
  margin-bottom: 20px;

  div {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
  }

}