.pagination-wrapper {
  text-align: center;

  input {
    width: 50px;
    text-align: center;
    font-size: 12px;
  }

  .pagination {
    display: inline-block;

    div {
      color: black;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
      transition: background-color .3s;
      border: 1px solid #ddd;
      margin: 0 4px;
    }

    div.active {
      background-color: #4CAF50;
      color: white;
      border: 1px solid #4CAF50;
    }
  }
}


