.pokemon-detail-wrapper {
  position: relative;
  text-align: center;

  .pokemon-detail-card-wrapper {
    margin: 20px;
    text-align: center;
    min-width: 200px;
    min-height: 200px;
    z-index: -1;

    a{
      color: #000000;
      text-decoration: none;
    }

    img {
      height: 96px;
      width: 96px;
      padding-top: 20px;
    }

    img:hover {
      animation-name: imageHover;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }

    .pokemon-detail-card {
      border: 2px solid black;
      border-radius: 15px;
      background-color: lightgreen;
      text-align: center;
      box-shadow: 5px 5px 5px #000000;
    }

    .pokemon-detail-card:hover {
      animation-name: example;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }

    .pokemon-name {
      font-weight: 700;
      padding: 20px 0px;
      color: #000000;
      text-transform: capitalize;
    }

    .abilities-wrapper {
      display: grid;
      @media (min-width: 992px) {
        grid-template-columns: repeat(5, minmax(50px, 1fr));
      }
      @media (max-width: 992px) {
        grid-template-columns: repeat(2, minmax(50px, 1fr));
      }
      grid-gap: 20px;
      margin: 20px;


      div {
        background:#ffffff;
        border: 5px solid #696969;
        border-radius: 25px;
        padding: 10px 0px;
        font-size: 10px;
        font-weight: 700;
        font-family: 'Press Start 2P';
      }
    }

    input {
      border-radius: 5px;
      margin-right: 10px;
    }

    .capture-button {
      border-radius: 5px;
      margin-bottom: 20px;
    }

    .capture-button:active {
      height: 30px;
      width: 100px;
    }

    .description-text{
      margin-bottom: 20px;
    }
  }
}

@keyframes imageHover {
  0%   {height:96px; width:96px;}
  50%  {height:120px; width:120px;}
  100% {height:96px; width:96px;}
}

@keyframes example {
  0%   {background-color: lightgreen}
  50%  {background-color: #FFA07A}
  100% {background-color: lightgreen}

}