.pokemon-list-wrapper {
  text-align: center;

  .pokemon-list-title {
    text-align: center;
    margin: 20px 0px;
  }

  .search-field {
    display: flex;
    justify-content: center;
    margin: 20px 0px;

    .search-field-input {
      background-color: #dddddd;
      border: 2px solid #f44336;
      border-radius: 5px;
      text-align: center;
      width: 250px;
      height: 30px;
      font-size: 18px;
    }
  }

  .pokemon-list-card-wrapper {
    display: grid;
    @media (min-width: 992px) {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    @media (max-width: 992px) {
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
    grid-gap: 20px;
    margin: 10px 50px;

    a{
      color: #000000;
      text-decoration: none;
    }

    .pokemon-list-card {
      border: 2px solid black;
      border-radius: 15px;
      background-color: lightgreen;
      text-align: center;
      cursor: pointer;
      transition: 0.3s linear;
      box-shadow: 5px 5px 5px #000000;
    }

    .pokemon-list-card:hover {
      animation-name: cardAnimation;
      animation-duration: 0.5s;
      animation-iteration-count: infinite;
      transform: scale(1.1,1.1);
    }

    .pokemon-name {
      font-weight: 700;
      padding-bottom: 10px;
      color: #000000;
      text-transform: capitalize;
    }

    .pokemon-count {
      font-family: 'Hachi Maru Pop';
      padding-bottom: 20px;

    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin: 20px auto;

    div {
      color: black;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
      transition: background-color .3s;
      border: 2px solid #000000;
    }

    div:active {
      background-color: #4CAF50;
      color: white;
      border: 2px solid #4CAF50;
    }
  }
}

@keyframes cardAnimation {
  0%   {background-color: forestgreen}
  50%  {background-color: darkgreen}
  100% {background-color: forestgreen}

}